USE [master]
GO
/****** Object:  Database [CJ3027821PR2]    Script Date: 02/09/2025 12:47:23 ******/
CREATE DATABASE [CJ3027821PR2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CJ3027821PR2', FILENAME = N'/var/opt/mssql/data/CJ3027821PR2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CJ3027821PR2_log', FILENAME = N'/var/opt/mssql/data/CJ3027821PR2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CJ3027821PR2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CJ3027821PR2]
GO
/****** Object:  Table [dbo].[tabeladapadaria]    Script Date: 02/09/2025 12:47:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabeladapadaria](
	[id_padaria] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
	[Rua] [varchar](50) NULL,
	[Numero] [varchar](50) NULL,
	[Bairro] [varchar](50) NULL,
	[Cidade] [varchar](50) NULL,
	[Estado] [varchar](50) NULL,
	[Cep] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_padaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabeladapadaria1]    Script Date: 02/09/2025 12:47:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabeladapadaria1](
	[Nome] [varchar](50) NULL,
	[Rua] [varchar](50) NULL,
	[Numero] [varchar](50) NULL,
	[Bairro] [varchar](50) NULL,
	[Cidade] [varchar](50) NULL,
	[Estado] [varchar](50) NULL,
	[Cep] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
